---
layout: default
permalink: /
thumb_force_logo: true
---

{%- include amsf/core -%}

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

    <h1 class="image-title">
      <img src="{{ amsf_user_assets }}/img/main_logo.png">
    </h1>

    <h2 class="sub-title">I'd tell you all you want and more, if the sounds I made could be what you here.</h2>

    <small>a.k.a. <b>GL&HF</b>&#x30FB;ver. <b>0.0.1</b>&#x30FB;view it on <a href="https://github.com/goodluck-and-havefun">GitHub</a></small>
  </header>

  <div class="page-content">
    <h2>Theme Curtana</h2>
    {% for post in site.tags.curtana %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Binary Exploitation</h2>
    {% for post in site.tags.curtana %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Cryptography</h2>
    {% for post in site.tags.curtana %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Forensics</h2>
    {% for post in site.tags.curtana %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Reverse Engineering</h2>
    {% for post in site.tags.curtana %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Web Exploitation</h2>
    {% for post in site.tags.curtana %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

  </div>

</article>
